{
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module"
  },
  "plugins": [
    "import",
    "@1win/payment"
  ],
  "rules": {
    "import/no-mutable-exports": "error",
    "import/first": "error",
    "import/export": "error",
    "import/no-absolute-path": "error",
    "import/default": "error",
    "import/no-commonjs": "error",
    "import/newline-after-import": "error",
    "import/no-duplicates": "error",
    "node/no-extraneous-import": ["error", {
      "allowModules": ["qs", "lodash"]
    }],
    "node/no-unpublished-import": ["error", {
      "allowModules": ["chai", "mocha"]
    }],
    "import/no-unresolved": ["error", { "caseSensitive": false }],
    "import/order": ["error", {"groups": ["builtin", "external", "internal", "parent", "sibling", "index", "object", "type"]}],
    "padding-line-between-statements": ["error",
      { "blankLine": "always", "prev": "block", "next": "*" },
      { "blankLine": "always", "prev": "*", "next": "for" },
      { "blankLine": "always", "prev": "*", "next": "return" },
      { "blankLine": "always", "prev": "if", "next": "*" },
      { "blankLine": "always", "prev": "*", "next": "if" },
      { "blankLine": "any", "prev": "if", "next": "if" },
      { "blankLine": "always", "prev": "for", "next": "*" }
    ],
    "switch-colon-spacing": "error",
    "quote-props": ["error", "as-needed", { "unnecessary": true }],
    "no-multiple-empty-lines": ["error", { "max": 1 }],
    "no-else-return": "error",
    "no-duplicate-imports": ["error", { "includeExports": true }],
    "no-shadow": "error",
    "keyword-spacing": ["error", { "after": true, "before": true }],
    "no-dupe-keys": "error",
    "key-spacing": ["error", { "afterColon": true }],
    "no-useless-computed-key": "error",
    "no-useless-call": "error",
    "no-var": "error",
    "no-trailing-spaces": "error",
    "eol-last": ["error", "always"],
    "no-unsafe-optional-chaining": "error",
    "no-unsafe-negation": "error",
    "use-isnan": "error",
    "eqeqeq": ["error", "always"],
    "curly": "error",
    "no-extra-bind": "error",
    "no-useless-return": "error",
    "dot-notation": "error",
    "no-multi-spaces": ["error", { "ignoreEOLComments": false }],
    "no-useless-concat": "error",
    "no-debugger": "error",
    "no-dupe-args": "error",
    "no-fallthrough": "error",
    "no-func-assign": "error",
    "no-obj-calls": "error",
    "no-setter-return": "error",
    "no-sparse-arrays": "error",
    "function-call-argument-newline": "off",
    "function-paren-newline": ["error", "multiline"],
    "no-promise-executor-return": "off",
    "node/no-missing-import": ["error", {
      "tryExtensions": [".js", ".json", ".node", ".mjs"]
    }],
    "no-console": ["warn", { "allow": ["warn", "error", "info"] }],
    "no-tabs": ["error", { "allowIndentationTabs": true }],
    "max-len": ["warn", {
      "code": 120,
      "tabWidth": 2,
      "comments": 160,
      "ignoreStrings": true,
      "ignoreUrls": true,
      "ignoreTemplateLiterals": true,
      "ignoreRegExpLiterals": true,
      "ignoreTrailingComments": true
    }],
    "brace-style": ["error", "1tbs"],
    "new-cap": "error",
    "max-statements-per-line": ["error", { "max": 1 }],
    "object-curly-newline": ["error", { "multiline": true }],
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": ["error", "always", { "omitLastInOneLineBlock": true }],
    "no-param-reassign": "off",
    "max-depth": ["error", 5],
    "arrow-parens": ["error", "as-needed"],
    "no-restricted-globals": "off",
    "import/extensions": "off",
    "no-unused-vars": "error",
    "import/prefer-default-export": "off",
    "no-await-in-loop": "off",
    "class-methods-use-this": "off",
    "no-undef": "error",
    "prefer-destructuring": ["error", {"array": true,"object": false}],
    "consistent-return": "off",
    "no-continue": "off",
    "no-cond-assign": "off",
    "no-restricted-syntax": "off",
    "no-throw-literal": "off",
    "no-bitwise": "off",
    "camelcase": "off",
    "no-plusplus": "off",
    "import/no-named-as-default-member": "off",
    "func-names": "off",
    "no-use-before-define": ["error", { "functions": true, "classes": false, "variables": true, "allowNamedExports": false }],
    "import/no-named-as-default": "off",
    "array-callback-return": "error",
    "no-underscore-dangle": "off",
    "no-multi-assign": "error",
    "import/no-cycle": "off",
    "radix": "off",
    "no-return-await": "error",
    "import/no-extraneous-dependencies": "off",
    "no-return-assign": "error",
    "no-prototype-builtins": "off",
    "valid-typeof": "error",
    "no-unreachable": "error",
    "no-constant-condition": "off",
    "no-unexpected-multiline": "off",
    "prefer-rest-params": "error",
    "guard-for-in": "off",
    "no-useless-escape": "error",
    "no-empty": "error",
    "default-case": "off",
    "object-curly-spacing": ["error", "always"],
    "no-async-promise-executor": "off",
    "sort-keys": "off",
    "no-unmodified-loop-condition": "error",
    "template-curly-spacing": ["error", "always"],
    "nonblock-statement-body-position": ["error", "below"],
    "operator-linebreak": ["error", "before"],
    "no-confusing-arrow": "off",
    "no-useless-constructor": "off",
    "no-process-exit": "off",
    "no-lonely-if": "off",
    "no-empty-function": "off",
    "no-nested-ternary": "off",
    "no-mixed-operators": "off",
    "prefer-promise-reject-errors": "error",
    "max-classes-per-file": "off",
    "default-param-last": "off",
    "@1win/payment/const-obj-capitalize": "off",
    "space-before-blocks": "error",
    "block-spacing": "error"
  },
  "overrides": [
    {
        "files": ["*.test.js"],
        "rules": {
            "no-unused-expressions": "off"
        }
    }
  ]
}
